@import "normalize";
@import "jquery.fancybox";

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend,
input, textarea, p, blockquote, th, td, iframe {
	font-family: "Helvetica Neue",HelveticaNeue,"Helvetica-Neue",Helvetica,"BBAlpha Sans","Microsoft JhengHei","微軟正黑體",sans-serif;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-touch-callout: none;
	-webkit-user-drag: none;
}

body {
	position: relative;
	cursor: default;
}

.js {
	#header, #menu-group{
		opacity: 0;
	}
}

.jf-finish {
	#header, #menu-group{
		opacity: 1;
	}
}

.lte-ie9 {
	
	#footer-link {
		li {
			a:hover {
				color: #FFF;
			}
		}
	}
}

.lte-ie8 {
	
	#footer-link {
		li.last {
			margin-right: 15px;
			border-right: 0px none;
		}
	}
}

.lte-ie7 {
	body {
		text-align: center;
		background: transparent url(../img/bg2.png) scroll repeat 50% 100%;
	}
	#wrapper {
		display: none;
	}
	#outdated-browser {
		display: block;
	}
}

.no-js {
	
}

.js {
	
}

.text-replace {
	overflow: hidden!important;
	text-align: left!important;
	text-indent: -9999px!important;
}

.block-hide {
	position: absolute !important;
	top: -99999999px !important;
	left: -99999999px !important;
}

#wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	top: 0;
	background: transparent url(../img/bg2.png) scroll repeat 50% 50%;
	
}

#header {
	position: absolute;
	top: 10%;
	width: 100%;
	text-align: center;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
	
	h1 {
		font-size: 1.3em;
		font-weight: normal;
		font-family: xingothic-tc-w8, "Microsoft JhengHei", "微軟正黑體", Arial;
	}
	
	h2 {
		font-size: 1.1em;
		font-weight: normal;
		font-family: xingothic-tc-w8, "Microsoft JhengHei", "微軟正黑體", Arial;
	}
	
	ul {
		list-style: none;
		
		li {
			margin: 10px 0;
			font-family: xingothic-tc-w6, "Microsoft JhengHei", "微軟正黑體", Arial;
		}
	}
}

#header-inner {
	position: relative;
	top: 295px;
	left: 50%;
	margin-left: -250px;
	width: 500px;
}

#body {
	position: relative;
	width: 100%;
	height: 100%;
}

#page-group {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 80;
	left: -100%;
}

.page-content {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
	
	&.static {
		opacity: 1;
	}
}

.page-content-inner {
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.5);
}

.page-menu {
	position: absolute;
	height: 90px;
	bottom: 10%;
	width: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 81;
}

.page-menu-inner {
	position: relative;
	left: 5%;
	padding: 10px 0 10px 620px;
}

.page-menu-list {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 100%;
	white-space: nowrap;
	> li {
		display: inline-block;
		height: 70px;
		line-height: 50px;
		width: 120px;
		margin: 0;
		padding: 0;
		text-align: center;
		border-bottom: 5px solid rgba(255,255,255,0);
		margin-right: 15px;
		
		> a.list {
			display: block;
			height: 100%;
			width: 100%;
			font-family: xingothic-tc-w4, "Microsoft JhengHei", "微軟正黑體", Arial;
			color: #FFF;
			letter-spacing: 3px;
			text-shadow: 
				1px 1px 3px #222,
				-1px 1px 3px #222,
				1px -1px 3px #222,
				-1px -1px 3px #222;
			text-decoration: none;
		}
		
		
		&.active,
		&:hover {
			background: transparent url(../img/bg2.png) scroll no-repeat -380px 0;
		}
		
		&.event-info {
			border-bottom: 5px solid red;
			
			&.active,
			&:hover {
				background-position: 20px 0;
			}
		}
		
		&.event-ticket {
			border-bottom: 5px solid orange;
			
			&.active,
			&:hover {
				background-position: -80px 0;
			}
		}
		
		&.event-area {
			border-bottom: 5px solid blue;
			
			&.active,
			&:hover {
				background-position: -180px 0;
			}
		}
	}
}

.page-background {
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	z-index: 82;
}

.page-container {
	position: absolute;
	z-index: 83;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	
	opacity: 0;
	
	&.active {
		opacity: 1;
	}
}

.page-header {
	position: absolute;
	top: 0;
	padding: 40px 0;
	width: 100%;
	height: 100px;
	
	h3 {
		margin: 0 auto;
		letter-spacing: 5px;
		padding: 5px 0;
		border-bottom: 2px solid #ffb700;
		width: 70%;
		text-align: center;
		font-family: xingothic-tc-w6, "Microsoft JhengHei", "微軟正黑體", Arial;
		font-size: 1.5em;
		color: #EEE;
		text-shadow: 
			1px 1px 3px #222,
			-1px 1px 3px #222,
			1px -1px 3px #222,
			-1px -1px 3px #222;
	}
}

.page-header-back {
	position: absolute;
	display: block;
	font-size: 1.4em;
	color: #FFF;
	text-shadow: 
		2px 2px 3px #222,
		-2px 2px 3px #222,
		2px -2px 3px #222,
		-2px -2px 3px #222;
	text-decoration: none;
	border-radius: 5px;
	width: 120px;
	text-align: center;
	top: 50%;
	margin-top: -25px;
	height: 40px;
	line-height: 40px;
	left: 516px;
}

.page-body {
	height: 100%;
	width: 100%;
	padding: 100px 30px 40px;
}

.page-body-wrapper {
	background-color: rgba(255,255,255,0.85);
	width: 100%;
	height: 100%;
	border: 4px solid rgba(0,0,0,0.65);
	border-radius: 10px;
	padding: 15px 15px 15px 15px;
	line-height: 1.8em;
	letter-spacing: 0.25em;
	
	.page-body-inner {
		position: relative;
		overflow: hidden;
		padding-right: 20px;
		width: 100%;
		height: 100%;
		
		p {
			font-size: 16px;
			letter-spacing: 6px;
			line-height: 26px;
		}
	}
	
	.scrollBarV {
		right: 6px !important;
	}
}

#event-page {
	border-bottom: 3px solid rgba(0,0,0, 0.8);
	background: transparent url(../img/bg/menu1-2040-40.jpg) scroll no-repeat 50% 50%;
	background-size: cover;
	
	.page-content-inner {
		width: 100%;
		height: 100%;
		background-color: rgba(255,255,255,0.4);
	}
	
	.page-background {
		left: 5%;
		top: -30px;
		width: 510px;
		height: 120%;
		box-shadow: 0px 0px 12px 4px rgba(20%,20%,40%,0.5);
		transform: rotate(-5deg);
		-ms-transform: rotate(-5deg);
		-webkit-transform: rotate(-5deg);
	}
	
	.page-container {
		
		left: 5%;
		top: -30px;
		width: 500px;
		height: 120%;
		padding-bottom: 10%;
	}
}

#menu-group {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 60;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

#menu-group-inner {
	position: relative;
	top: 10%;
	left: 50%;
}

#center-image {
	position: absolute;
	background: transparent url(../img/center-image2.png) scroll no-repeat 0 0;
	left: -125px;
	width: 250px;
	height: 295px;
}

#center-logo {
	position: absolute;
	background: transparent url(../img/icon/favicon-57.png) scroll no-repeat 0 0;
	top: 195px;
	left: 20px;
	width: 57px;
	height: 57px;
	opacity: 0.4;
	transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	
	&:hover {
		transform: rotate(380deg);
		-ms-transform: rotate(380deg);
		-webkit-transform: rotate(380deg);
	}
}

#menu-list {
	position: absolute;
	list-style: none;
	
	> li.menu-list, 
	> li.menu-list > * {
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	
	
	> li.menu-list {
		position: absolute;
		z-index: 60;
		width: 200px;
		height: 100px;
		overflow: hidden;
		border-radius: 8px;
		border: 3px solid #AAA;
		box-shadow: 2px 2px 10px rgba(0,0,0, 0.5), -2px 2px 10px rgba(0,0,0, 0.5);
		background-color: #333;
		
		div.list, div.bg, div.text, div.img {
			position: absolute;
			width: 100%;
			height: 100%;
		}
		
		> div.bg {
			background-color: rgba(255,255,255,0.5);
		}
		
		> div.img, > div.list {
			opacity: 0;
		}
		
		> div.text {
			opacity: 1;
			padding: 20px 0;
			line-height: 30px;
			text-align: center;
			letter-spacing: 2px;
			font-family: xingothic-tc-w8, "Microsoft JhengHei", "微軟正黑體", Arial;
			font-size: 1.3em;
			color: #555;
			text-shadow: 
				1px 1px 3px #FFF,
				-1px 1px 3px #FFF,
				1px -1px 3px #FFF,
				-1px -1px 3px #FFF;
			
			> span.ct, > span.et {
				display: block;
			}
		}
		
		ul.menu-sublist {
			list-style: none;
			position: absolute;
			background-color: rgba(0,0,0,0.7);
			margin: 0;
			padding: 0;
			border-top: 1px solid #AAA;
			bottom: 0;
			width: 100%;
			line-height: 30px;
			
			> li {
				letter-spacing: 1px;
				white-space: nowrap;
				overflow: hidden;
				font-size: 0.8em;
				text-align: center;
				margin: 0;
				padding: 0;
				height: 30px;
				display: block;
				width: 33.3%;
				float: left;
				border-left: 1px solid #AAA;
				border-top: 1px solid #AAA;
				
				> a {
					font-family: xingothic-tc-w4, "Microsoft JhengHei", "微軟正黑體", Arial;
					display: block;
					width: 100%;
					text-decoration: none;
					color: #FFF;
					
					&:hover {
						font-weight: bold;
						color: #000;
						text-shadow: 
							1px 1px 3px #FFF,
							-1px 1px 3px #FFF,
							1px -1px 3px #FFF,
							-1px -1px 3px #FFF;
					}
				}
			}
			
			> li:first-child {
				border-left: 0 none;
			}
		}
		
		&.static,
		&:hover {
			> div.img, > div.list {
				opacity: 1;
			}
		}
	}
	
	> li.list-event {
		transform: translate3d(-450px, 90px,0);
		-webkit-transform: translate3d(-450px, 90px,0);
		-ms-transform: translate(-450px, 90px);
		
		> div.bg {
			background: transparent url(../img/menu/menu-1-300-bg.jpg) scroll no-repeat 50% 100%;
		}
		
		> div.img {
			background: transparent url(../img/menu/menu-1-300.png) scroll no-repeat 50% 100%;
		}
		
		> div.bg , > div.img {
			width: 300px;
			height: 232px;
			
			transform: translate3d(0, -60px,0);
			-webkit-transform: translate3d(0, -60px,0);
			-ms-transform: translate(0, -60px);
		}
		
		ul.menu-sublist {
			height: 30px;
		}
		
		&.static,
		&:hover {
			transform: translate3d(-550px, 40px,0);
			-webkit-transform: translate3d(-550px, 40px,0);
			-ms-transform: translate(-550px, 40px);
			
			width: 300px;
			height: 150px;
			
			> div.bg , > div.img {
				transform: translate3d(0, -40px,0);
				-webkit-transform: translate3d(0, -40px,0);
				-ms-transform: translate(0, -40px);
			}
			
			> div.text {
				opacity: 0.9;
				transform: translate3d(-80px,0,0);
				-webkit-transform: translate3d(-80px,0,0);
				-ms-transform: translate(-80px,0);
			}
		}
	}
	
	> li.list-rules {
		transform: translate3d(250px, 90px,0);
		-webkit-transform: translate3d(250px, 90px,0);
		-ms-transform: translate(250px, 90px);
		
		> div.bg {
			background: transparent url(../img/menu/menu-2-300-bg.jpg) scroll no-repeat 0% 0%;
		}
		
		> div.img {
			background: transparent url(../img/menu/menu-2-300.jpg) scroll no-repeat 0% 0%;
		}
		
		> div.bg , > div.img {
			width: 300px;
			height: 232px;
			
			transform: translate3d(0, 0px,0);
			-webkit-transform: translate3d(0, 0px,0);
			-ms-transform: translate(0, 0px);
		}
		
		ul.menu-sublist {
			height: 30px;
		}
		
		&.static,
		&:hover {
			transform: translate3d(250px, 40px,0);
			-webkit-transform: translate3d(250px, 40px,0);
			-ms-transform: translate(250px, 40px);
			
			width: 300px;
			height: 150px;
			
			> div.bg , > div.img {
				transform: translate3d(0, -40px,0);
				-webkit-transform: translate3d(0, -40px,0);
				-ms-transform: translate(0, -40px);
			}
			
			> div.text {
				opacity: 1;
				transform: translate3d(80px,0,0);
				-webkit-transform: translate3d(80px,0,0);
				-ms-transform: translate(80px,0);
			}
		}
	}
	
	> li.list-circle {
		transform: translate3d(-350px, 380px,0);
		-webkit-transform: translate3d(-350px, 380px,0);
		-ms-transform: translate(-350px, 380px);
		
		> div.bg {
			background: transparent url(../img/menu/menu-3-300-bg.jpg) scroll no-repeat 50% 100%;
		}
		
		> div.img {
			background: transparent url(../img/menu/menu-3-300.png) scroll no-repeat 50% 100%;
		}
		
		> div.bg , > div.img {
			width: 300px;
			height: 232px;
			
			transform: translate3d(-60px, -80px,0);
			-webkit-transform: translate3d(-60px, -80px,0);
			-ms-transform: translate(-60px, -80px);
		}
		
		ul.menu-sublist {
			height: 60px;
		}
		
		&.static,
		&:hover {
			transform: translate3d(-450px, 360px,0);
			-webkit-transform: translate3d(-450px, 360px,0);
			-ms-transform: translate(-450px, 360px);
			
			width: 300px;
			height: 180px;
			
			> div.bg , > div.img {
				transform: translate3d(0, 0px,0);
				-webkit-transform: translate3d(0, 0px,0);
				-ms-transform: translate(0, 0px);
			}
			
			> div.text {
				opacity: 1;
				transform: translate3d(80px, 10px,0);
				-webkit-transform: translate3d(80px, 10px,0);
				-ms-transform: translate(80px, 10px);
			}
		}
	}
	
	> li.list-special {
		transform: translate3d(150px, 380px,0);
		-webkit-transform: translate3d(150px, 380px,0);
		-ms-transform: translate(150px, 380px);
		
		
		> div.bg {
			background: transparent url(../img/menu/menu-4-200.jpg) scroll no-repeat 0% 0%;
		}
		
		> div.img {
			background: transparent url(../img/menu/menu-4-300.jpg) scroll no-repeat 0% 0%;
		}
		
		> div.bg , > div.img {
			width: 300px;
			height: 232px;
		}
		
		ul.menu-sublist {
			height: 30px;
			
			> li {
				width: 50%;
			}
		}
		
		&.static,
		&:hover {
			transform: translate3d(150px, 360px,0);
			-webkit-transform: translate3d(150px, 360px,0);
			-ms-transform: translate(150px, 360px);
			
			width: 300px;
			height: 150px;
			
			> div.text {
				opacity: 0.9;
				transform: translate3d(0,60px,0);
				-webkit-transform: translate3d(0,60px,0);
				-ms-transform: translate(0,60px);
				
				> span.ct, > span.et {
					display: inline;
				}
			}
		}
	}
}

#drawings-group {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 40;
}

#drawings-group-inner {
	position: relative;
	top: 10%;
	height: 90%;
}

#icon-group {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 20;
}

#outdated-browser {
	display: none;
	height: 600px;
	width: 800px;
	padding: 30px;
	margin: 0 auto;
	h1, h2 {
		font-size: 16px;
		margin: 15px 0;
	}
	h2 {
		letter-spacing: 1px;
	}
	p {
		margin: 15px 0;
	}
	a {
		font-weight: bold;
		color: #000;
	}
	div.message p {
		color: red;
		font-size: 14px;
	}
	div.info {
		text-align: left;
		width: 450px;
		li {
			margin: 5px 0;
		}
		p, li {
			font-size: 12px;
		}
	}
	p.copyright {
		margin-top: 30px;
		font-size: 12px;
		color: #333;
		letter-spacing: 1px;
	}
}

#footer {
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 24px;
	left: 0;
	bottom: 0;
	font-size: 0.75em;
	background-color: #333;
}

#footer-inner {
	width: 100%;
	height: 24px;
}

#copyright {
	position: absolute;
	top: 0;
	left: 30px;
	height: 24px;
	line-height: 24px;
	font-weight: bold;
	letter-spacing: 2px;
	color: #CCC;
	text-shadow: 1px 1px #333;
}

#footer-link {
	list-style: none;
	margin: 0;
	padding: 2px 0 0;
	width: 100%;
	text-align: right;
	font-weight: bold;
	
	li {
		display: inline-block;
		height: 20px;
		line-height: 20px;
		margin-right: 10px;
		padding-right: 10px;
		border-right: 1px solid rgb(255,255,255);
		border-right: 1px solid rgba(255,255,255, 0.5);
		
		&:last-child {
			margin-right: 15px;
			border-right: 0px none;
		}
		
		a {
			color: #CCC;
			text-shadow: 1px 1px #333;
			text-decoration: none;
			
			&:hover {
				color: #000;
				text-shadow:
					-1px -1px 1px #FFF,
					1px -1px 1px #FFF,
					-1px 1px 1px #FFF,
					1px 1px 1px #FFF;
				text-decoration: underline;
			}
		}
	}
}

body.modal-body {
	padding: 20px;
	background-color: #F9F9F9;
}

#modal-wrapper {
	height: 100%;
	width: 100%;
	position: relative;
}

#modal-page {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-family: xingothic-tc-w4, "Microsoft JhengHei", "微軟正黑體", Arial;
	font-size: 13px;
	
	h3 {
		width: 60%;
		height: 40px;
		line-height: 40px;
		font-size: 15px;
		text-align: center;
		border-bottom: 1px solid #777;
		margin: 0 auto 15px;
		letter-spacing: 2px;
	}
	
	div {
		p {
			padding: 8px 0;
		}
		em, strong {
			font-family: xingothic-tc-w4, "Microsoft JhengHei", "微軟正黑體", Arial;
			font-weight: bold;
		}
	}
}
#modal-page-inner {
	padding-right: 28px;
}

.scrollBarIndicatorV {
	border-radius: 7px!important;
	border: none!important;
	opacity: 1!important;
	background-color: rgba(0, 0, 0, 0.3)!important;
	
}

.scrollBarV {
	width: 14px!important;
}

.credit-page {
	
	> div {
		padding: 10px 30px 30px;
	}
	
	div {
		
		h4 {
			letter-spacing: 2px;
			clear: both;
			margin: 0 0 5px;
			padding-top: 20px;
		}
		
		p {
			letter-spacing: 1px;
			
			a {
				text-decoration: none;
				font-weight: bold;
				color: #55F;
				padding: 0px 3px;
				
				&:hover {
					text-decoration: underline;
				}
				
				&.link {
					display: block;
					letter-spacing: 2px;
					margin-bottom: 5px;
				}
			}
			
			img.logo {
				display: block;
				float: left;
				width: 100px;
				margin-right: 20px;
				margin-bottom: 20px;
			}
			
			img.blank {
				height: 30px;
			}
		}
	}
}

#construstion {
	display: none;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	padding: 20px;
	
	p {
		font-family: xingothic-tc-w4, "Microsoft JhengHei", "微軟正黑體", Arial;
		color: #FFF;
		margin-top: 20px;
	}
}

.fancybox-skin {
	background-color: transparent;
}

#event-info,
#event-area {
	
	p {
		margin: 10px auto;
		text-align: center;
		letter-spacing: 2px;
		
		&.small {
			font-size: 14px;
		}
	}
	
}

